<!doctype html>
<html>
    <head>
        <title>Chainball Scoreboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="/dist/bundle.js?3" type="text/javascript"></script>
        <link href="/dist/main.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.user_name.label }} {{ form.user_name(size=20) }}
            {{ form.password.label }} {{ form.password(size=20) }}
            <input type="submit" value="Login">
        </form>
    </body>
</html>
